@media screen and (max-width: 1200px) { 
    body::after{
        width: 450px;
        height: 450px;
        top: -20%;
        left: -10%;
    }
    
    body::before{
        width: 450px;
        height: 450px;
        bottom: -20%;
        right: -10%;
    }
}

@media screen and (max-width: 880px) { 
    body::after{
        width: 400px;
        height: 400px;
        top: -20%;
        left: -10%;
    }
    
    body::before{
        width: 400px;
        height: 400px;
        bottom: -20%;
        right: -10%;
    }
}

@media screen and (max-width: 600px) { 
    body::after{
        width: 350px;
        height: 350px;
        top: -20%;
        left: -10%;
    }
    
    body::before{
        width: 350px;
        height: 350px;
        bottom: -20%;
        right: -10%;
    }
    .container{
        width: 350px;
    }
}

@media screen and (max-width: 500px) { 
    body::after{
        width: 300px;
        height: 300px;
        top: -10%;
        left: -10%;
    }
    
    body::before{
        width: 300px;
        height: 300px;
        bottom: -10%;
        right: -10%;
    }
}

